<h1>Posts</h1>

<section id="admin-posts">
<% if(Object.keys(posts).length > 0){ %>
	<% Object.keys(posts).forEach(key=>{ %>
		<% let post = posts[key] %>
		<%- include('partials/post-card', { post: post }) %>
	<% }) %>
<% } else { %>
	<p>No posts exist.</p>
<% } %>
</section>