<!DOCTYPE html>
<html lang="en"> 
<head>
	<title><%= title %></title>
	<meta charset="utf-8">
	<meta name="viewport"  content="width=device-width, initial-scale=1">
	<meta name="theme-color" content="#AA1923">
	<link rel='stylesheet' href='/stylesheets/bundle.css' />
	<link rel='manifest' href='/misc/manifest.json' />

	<!-- dont forget to include a stylesheets variable -->
	<% if (typeof stylesheets !== 'undefined') { %>
		<% for(var i=0; i<stylesheets.length; i++) { %>
			<link rel='stylesheet' href=<%= stylesheets[i]%> />
			<% } %>
			<% } %>

			</head>
			<body>