<div class="top-bar stick">
	<div class="top-bar-right">
		<ul class="menu">
			<li><a class="button white round" data-open="exampleModal1">Login</a></li>
			<li><a href="/blog" id="blog-link" class="button white round">Blog</a></li>
		</ul>
	</div>
</div>