<div class="grid-x portfolio">
	<div class="cell small-12 medium-6 portfolio-image-wrapper">
		<img class="portfolio-image" src="images/portfolio/avante-1.jpg"/>
	</div>
	<div class="cell small-12 medium-6 description-wrapper">
		<h3>Project Name</h3>
		<hr/>
		<p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vitae eleifend nulla. Fusce mollis interdum magna at ullamcorper. Aliquam aliquet erat et urna venenatis egestas. Mauris luctus tellus ac risus semper, at ultricies nibh lacinia. Suspendisse blandit pulvinar ligula laoreet varius. Etiam lacus magna, viverra in posuere vehicula, venenatis vitae enim. Duis nec dictum lectus. </p>
		<a class="button os" href="#">Visit Site</a>
	</div>
</div>