<ul class="social menu align-center">
	<li class="social-link">
		<a href="https://github.com/optykan" target="_blank">
			<i class="ion ion-social-github"></i>
		</a>
	</li>			
	<li class="social-link">
		<a href="mailto:s292yang@uwaterloo.ca">
			<i class="ion ion-ios-email-outline"></i>
		</a>
	</li>
</ul>