<% var stylesheets = ['/stylesheets/blog_new.css'] %>
<% include partials/header %>

<%
let data = {
	image: 'http://via.placeholder.com/300x300',
	title: 'The most engaging blog article',
	subtitle: 'A story of success',
	description: 'Sometimes the best things in life are the most boring things'
}; %>

<section id="blog-hero">
	<div class="header-text">
		<div class="text-wrapper">
			<h1>Blog.</h1>
			<p>Sometimes I write things...</p>
		</div>
	</div>
	<hr class="small-divider black"/>
	<div class="grid-x grid-x grid-margin-x grid-margin-y" id="blog-body">
		<% for (let i=0; i < 5; i++){%>
		<div class="cell xlarge-4 large-6 medium-6 small-12" data-equalizer-watch>
			<% include partials/card %>
		</div>
		<%}%>
	</div>
</section>

<% include partials/footer %>
