<% var stylesheets = ['/stylesheets/home.css'] %>
<% include partials/header %>

<div class="grid-y grid-frame" id="home">
	<div class="cell small-6 large-10" id="hero">
		<h1>Hi there.</h1>
	</div>
	<div class="cell small-6">
		other
	</div>
	<div class="cell small-6">
		other
	</div>
</div>

<% include partials/footer %>
