<% var stylesheets = ['/stylesheets/home.css', '/stylesheets/parallax.css', '/stylesheets/animate.css'] %>
<% include partials/header %>

<% include partials/navbar %>
<div class="grid-x parallax" id="home">
	<div class="parallax-group header-section">
		<div class="parallax-layer parallax-back hero-header"></div>
		<div class="cell small-12 parallax-layer parallax-base header-text">
			<h1 id="hi-there">Hi there.</h1>
			<hr class="small-divider white"/>
			<p id="bio">I'm Sam, a CS student @ UWaterloo. Nice to meet you!</p>
			<%- include('partials/social', {color: 'white'}) -%>
			<div class="down-arrows">
				<i class="ion ion-ios-arrow-down arrow"></i>
				<i class="ion ion-ios-arrow-down arrow"></i>
				<i class="ion ion-ios-arrow-down arrow"></i>
			</div>
		</div>
	</div>
	<section class="parallax-static home-section">
		<div class="section about">
			<!-- <i class="ion ion-ios-bookmarks-outline"></i> -->
			<h5 class="section-header">About</h5>			<!-- <hr class="small-divider black"/> -->
			<p class="os text-center">
				Hey, I'm Sam! I'm just your average 18 year old studying Computer Science at the University of Waterloo. If I'm not drowning in coursework you might be able to find me at a hackathon or working on some side projects. <br/><br/>
				Check out some of my stuff below! I promise some of them are interesting.
			</p>
		</div>
		<div class="section">
			<h5 class="section-header">Portfolio</h5>
			<div class="grid-x grid-margin-x grid-margin-y portfolio-section" data-equalizer>
			<% projects.forEach(data=>{ %>
				<div class="cell xlarge-4 large-6 medium-12 small-12" data-equalizer-watch>
				<% include partials/card %>
				</div>
			<% }) %>
			</div>
		</div>
		<div class="section text-center">
			<h5 class="section-header">Contact</h5>
			<p>Questions? Opinions? Want to argue about something? Feel free to get in touch with through one of your preferred methods (from the following options, obviously)</p>
			<%- include('partials/social', {color: 'black'}) -%>
		</div>
	</section>
</div>

<% var scripts=['https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js', '/javascripts/home.js'] %>
<% include partials/footer%>
