<% var stylesheets = ['/stylesheets/home.css', '/stylesheets/parallax.css', '/stylesheets/animate.css'] %>
<% include partials/header %>

<% include partials/navbar %>
<div class="grid-x parallax" id="home">
	<div class="parallax-group header-section">
		<div class="parallax-layer parallax-back hero-header"></div>
		<div class="cell small-12 parallax-layer parallax-base header-text">
			<h1 id="hi-there">Hi there.</h1>
			<hr class="small-divider white"/>
			<p id="bio">I'm Sam, a CS student @ UWaterloo. Nice to meet you!</p>
			<% include partials/social %>
			<div class="down-arrows">
				<i class="ion ion-ios-arrow-down arrow"></i>
				<i class="ion ion-ios-arrow-down arrow"></i>
				<i class="ion ion-ios-arrow-down arrow"></i>
			</div>
		</div>
	</div>
	<section class="parallax-static home-section">
		<div class="section about">
			<!-- <i class="ion ion-ios-bookmarks-outline"></i> -->
			<h5 class="section-header">About</h5>			<!-- <hr class="small-divider black"/> -->
			<p class="os">
				Hey, I'm Sam! I'm just your average 18 year old studying Computer Science at the University of Waterloo. If I'm not drowning in coursework you might be able to find me at a hackathon or working on some side projects. <br/></br>
				Surprisingly have never drank a cup of coffe (yet!) 
			</p>
		</div>
		<div class="section">
			<!-- <i class="ion ion-edit"></i> -->
			<h5 class="section-header">Portfolio</h5>
			<% projects.forEach(project=>{ %>
			<% include partials/portfolio-section %>
			<% }) %>
		</div>
		<div class="section">
			<h5 class="section-header">Contact</h5>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam dolor orci, malesuada a cursus porttitor, lacinia at lacus. In lectus nunc, vestibulum tincidunt orci eget, blandit dictum nisl. Sed blandit id risus non euismod. Sed imperdiet orci urna, sit amet accumsan neque dictum volutpat. Suspendisse lacinia purus enim, in volutpat ex aliquam vitae. Morbi feugiat interdum tellus, nec varius ante volutpat et. Maecenas ultrices lorem justo, vel bibendum diam pulvinar a. Cras et nulla dapibus, placerat velit eget, imperdiet nibh. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec eget faucibus nulla. Fusce scelerisque vestibulum finibus. Nam tempor, lectus sed eleifend lobortis, sapien nulla laoreet erat, quis hendrerit nisi arcu a mauris. Nunc lorem mauris, consequat vitae lectus id, porta luctus dui. </p>
		</div>
	</section>
</div>

<% var scripts=['https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js', '/javascripts/home.js'] %>
<% include partials/footer %>
