@import '../../node_modules/foundation-sites/scss/foundation';
@import 'utils';

$image-spacing: 10rem;

.portfolio{
	position:relative;
	margin-top: 3rem;
	width: 80%;
	left: 10%;
	@include breakpoint(medium only){
		width:90%;
		left: 5%;
	}
	@include breakpoint(small down){
		width:100%;
		left: 0%;
	}
	.portfolio-image-wrapper{
		@include breakpoint(xlarge down){
			padding-right:1rem;
		}
		@include breakpoint(small down){
			padding-right: 0;
		}
		@include flex-center;
		.portfolio-image{
			// transform: perspective(1000px) rotateX(0deg) rotateY(50deg) rotateZ(0deg);
			box-shadow: 1px 1px 10px #cccccc;
			border: 1px solid $medium-gray;
			@include breakpoint(medium down){
				width:100%;
			}
		}	
	}
	.description-wrapper{
		padding-top: 2rem;
		@include breakpoint(xlarge down){
			padding-left:1rem;
		}
		@include breakpoint(small down){
			padding-left: 0;
		}
		display:flex;
		flex-direction: column;
		.project-name{
			margin: 0;
		}
		.description{
			text-align: left;
			@extend .os;
		}
	}
	.visit-site{

	}
	&:nth-child(even){
		flex-direction: row-reverse;
		@include breakpoint(xlarge down){
			.portfolio-image-wrapper{
				padding-right: 0;
				padding-left:1rem;
			}
			.description-wrapper{
				padding-left: 0;
				padding-right: 1rem;
			}
		}
		@include breakpoint(small down){
			.portfolio-image-wrapper{
				padding-right: 0;
				padding-left: 0;
			}
			.description-wrapper{
				padding-left: 0;
				padding-right: 0;
			}
		}
	}
}