@import '../../node_modules/foundation-sites/scss/foundation';
@import 'utils';

#blog-hero{
	.header-text{
		height: 50%;
		min-height: 500px;
		.text-wrapper{
			display:flex;
			align-items: baseline;
		}
	}
}