@import 'utils';
@import 'portfolio';
@import '../../node_modules/foundation-sites/scss/foundation';

$clip-height: 5rem;
$hero-height: 80%;
$header-height: 600px;
$max-width: 960px;

.webp {
	#home .hero-header{
		background-image: url('/images/webp/low-poly-texture-22.webp')
	}
}
.no-webp{
	#home .hero-header{
		background-image: url('/images/compress/low-poly-texture-22.png')
	}
}

#home{
	p{
		max-width: $max-width;
	}
	.portfolio-section{
		max-width: $max-width;
	}

	.header-section{
		min-height: $header-height;
	}
	.hero-header{
		@include breakpoint(medium up){
		height: 75%;
		top: -16.67%;
		}
		@include breakpoint(small down){
			height: 100%;
			top: -50%;
		}
		min-height: $header-height;
		clip-path: polygon(0 0, 100% 0, 100% calc(100% - #{$clip-height}), 0 100%);
	}
	.section{
		clip-path: polygon(0 4rem, 100% 0, 100% calc(100% - #{$clip-height}), 0 100%);
		&:nth-of-type(odd){
			background: $white;
		}
		&:nth-of-type(even){
			background: darken($white, 3%);
		}
		&:last-child{
			clip-path: none;
			padding: 1rem;
		}
	}
	.section-content{
		@include breakpoint(small down){
			top: calc(25% - #{$clip-height});
		}
	}
	.header-text{
		@include breakpoint(medium up){
			height: 75%;
		}
		@include breakpoint(small down){
			height: calc(#{$hero-height} - #{$clip-height});
		}
	}

}