@import 'utils';
@import 'portfolio';
@import '../../node_modules/foundation-sites/scss/foundation';


#home{
	height:100vh;
	.header-text{
		display:flex;
		align-items:center;
		justify-content: center;
		flex-direction: column;
		text-align: center;
		color: white;
		@include breakpoint(medium up){
			height: 66.67%;
		}
		@include breakpoint(small down){
			height: 50%;
		}
		#hi-there{
			margin-bottom: 0;
		}
		#bio{
			margin-top: 0.5rem;
			// font-size: 1.1rem;
			@extend .os;
		}
	}
	.hero-header{
		@include breakpoint(medium up){
			height: 66.67%;
			top: -16.67%;
		}
		@include breakpoint(small down){
			height: 50%;
			top: -25%;
		}
		@include gradient-dim;
		background-image: url('https://picsum.photos/1920/1080?image=830');
		background-size: 100% 100%;
		clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
	}
	.parallax-no-scroll{
		position:relative;
		top:200%;
		transform: translateZ(-1px) scale(2);
		@include breakpoint(medium up){
		}
		@include breakpoint(small down){
			transform: translateZ(-1px) scale(2);
		}
	}
	.home-section{
		-webkit-backface-visibility: hidden;
		clip-path: polygon(0 4rem, 100% 0, 100% 100%, 0 100%);
		text-align:center;
		padding: 4rem 1rem;
		position: relative;
		top: 75%;
		@include breakpoint(small down){
			top: 50%;
		}
	}
	.down-arrows{
		display:flex;
		flex-direction: column;
		font-size: 2rem;
		position:relative;
		top: 7rem;
		.arrow{
			left: 0;
			color: rgba(0,0,0,0.1);
			animation: graywhitecycle 4s ease-in-out 0s infinite normal;
			&:nth-child(1){
			}
			&:nth-child(2){
				// color: $medium-gray;
				position:absolute;
				top: 0.75rem;
				animation-delay: 1s;
			}
			&:nth-child(3){
				// color: $white;
				position:absolute;
				top: 1.5rem;
				animation-delay: 2s;
			}		
		}
	}
}
