@import url('https://fonts.googleapis.com/css?family=Lato:700|Open+Sans:300,400,600|Playfair+Display|Rochester');
@import url('http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');

@import '../../node_modules/foundation-sites/scss/foundation';
@import 'settings';
@import 'utils';
@include foundation-everything

.noborder{
	border: none;
}

.top-bar{
	z-index:99;
	&.stick{
		position:fixed;
		width:100%;
		right: 1rem;
	}
	.menu{
		flex-direction: row-reverse;
	}
}

.button{
	&.round{
		border-radius:2rem;
	}
	&.white{
		color: white;
		border: 1px solid white;
		background-color: rgba(0,0,0,0);
		&:hover{
			background-color: white;
			color: black;
		}
	}
	&.black{
		color: black;
		border: 1px black solid;
		background-color: white;
	}
	&.transparent{
		background-color: rgba(0,0,0,0);
		transition: ease 0.5s;
		&:hover{
			background-color: white;
			color: black;
		}
	}
}

.top-bar{
	font-family: 'Lato', sans-serif;
	.top-bar-right .menu{
		margin-top:1rem;
		margin-right:1rem;
		.button{
			padding-left: 1.5rem;
			padding-right: 1.5rem;
		}

	}
}

hr{
	width:100%;
	&.small-divider{
		width: 10%;
		border-radius:1rem;
		&.black{
			border: 2px solid black;
		}
		&.white{
			border: 2px solid white;
		}
	}
}

.social{
	margin-top: 1rem;
	.social-link{
		border-right: 1px solid white;
		font-size: 2rem;
		&:last-child{
			border-right: none;
		}
	}
	a{
		padding: 0 1.5rem;
		color: white;
	}
}

#blog-link{
	will-change: transform;
	transform: translateZ(0);
}

//ghost element debugging
// * {
// 	background: #000 !important;
// 	color: #0f0 !important;
// 	outline: solid #f00 1px !important;
// }