.card{
	height:100%;
	transition: transform 1s ease, border 0.5s ease;
	// position: relative;
	// transform: scale(1.0);
	// -webkit-backface-visibility:hidden;
	// -webkit-font-smoothing: subpixel-antialiased;
	// transition: all 1s ease;
	.card div{
		padding-bottom: 16px;
	}
	img{
		min-height:300px;
	}
	&-title{
		font-size: 24px;
	}
	&-subtitle{
		font-size: 14px;
	} 
	.card-section{
		display:flex;
		flex-direction:column;
	}
	.card-bottom{
		margin-top:auto;
		padding:1rem;
		text-align:center;
		border-top: 1px solid $light-gray;
		transition: background-color 1s ease;
		&:hover{
			background-color: $light-gray;
		}
	}
	&:hover{
		transform: scale(1.1);
		border: 1px solid $primary-color;
		animation: border-pulse 3s linear 0s infinite alternate;
		animation-fill-mode: forwards;
	}
}

@keyframes border-pulse{
	0% { 
		border-color: rgba(0, 0, 0, 0);
	}
	50% {
		// border-color: lighten($primary-color, 25%);
		border-color: $success-color;
	}
	100%{
		border-color: $primary-color;
	}
}
