<div class="card admin-card">
	<img src="<%=post.image%>">
	<div class="card-section">
		<p><%=post.content%></p>
		<a href="/admin/posts/edit/<%=post.id%>" class="button primary">Edit</a>
	</div>
</div>